<div class="col-md-12">
  <div class="row">
    <p><input #searchBox id="search-box" type="text" class="form-control"  placeholder="Search" (keyup)="search(searchBox.value)" ></p>
  </div>
</div>

<div class="col-md-12">
  <h4 class="task-label">Tasks</h4>
</div>

<div class="checkbox brdUp" id="task" *ngFor="let x of tasks | async "  [class.selected]="task=== selectedTask" >
  <label><input type="checkbox" value="" ng-change="change(this)" ng-model="someModel">{{ x.name}}</label>
</div>
<div class="col-10 done">
  <button type="button" class="btn btn-success "ng-click="deleteElem()">Done <span class="badge">{{checked_number}}</span></button>
</div>
